<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Input Masks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="setValue()">Set Value</ion-button>
  <ion-item>
    <ion-input [(ngModel)]="a" label="Cool number" [maskito]="digitsOnlyMask" [maskitoElement]="predicate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Time" [maskito]="timeMask" [maskitoElement]="predicate"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Name" [maskito]="uppercaseMask" [maskitoElement]="predicate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Number" [maskito]="numberMask" [maskitoElement]="predicate"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input #cvv label="CVV" [maskito]="options" [maskitoElement]="predicate"></ion-input>
  </ion-item>
</ion-content>